*{
    margin:auto;
    padding:auto;
}
body{
    background-image: url(styliing.webp);
    background-size: cover;
    background-repeat: no-repeat;
}
.head{
    background-color: rgb(249, 247, 244);
    color:rgb(2, 9, 16);
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    padding-bottom: 20px;

}
.navElement{
    color:black;
    padding-left: 150px;
    text-decoration: none;
    font-size: 30px;
}
.navElement:hover{
    color:rgb(90, 122, 105);
}
nav{
    padding-top:50px;
}
 
h2{
    
    font-size: 55px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 5%;
    
   color: rgb(90, 122, 105);
}
.paragraph{
    padding-top:50px;
   padding-left: 30%;
   padding-right: 30%;
   font-size: 20px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: rgb(89, 68, 68);
}